@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
    background-color: #56baed;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.box {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    height: 200;
    width: 900;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    background: gold;
}

.image {
    position: absolute;
}

.content {
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.address {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

a {
    color: #56baed;
    display: inline-block;
    text-decoration: none;
    font-size: 50;
    font-weight: 400;
}


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 1300px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #0d0d0d;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #56baed;
}

.underlineHover:hover:after {
    width: 100%;
}